---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default {...Astro.props} />

<footer class="custom-footer">
    <div class="footer-content">
        <p>
            Copyright © 2026 jozelot_ and contributors. Built with 🔆<a href='https://starlight.astro.build'>Starlight</a>.
        </p>
        <p class="disclaimer">
            This website is not an official Minecraft website and is not associated with Mojang Studios or Microsoft.
            All product and company names are trademarks or registered trademarks of their respective holders.
        </p>
    </div>
</footer>

<style>
    .custom-footer {
        padding: 2rem 1.5rem;
        /* Den Rand oben entfernen, da Default oft schon einen hat */
        border-top: 1px dashed var(--sl-color-hairline);
        text-align: center;
        font-size: var(--sl-text-xs);
        color: var(--sl-color-gray-2);
    }
    .footer-content {
        max-width: 800px;
        margin: 0 auto;
    }
    .disclaimer {
        margin-top: 0.5rem;
        opacity: 0.7;
        line-height: 1.5;
    }
</style>